<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <header class="masthead">
    <div class="inner">
      <h3 class="masthead-brand"></h3>
      <nav class="nav nav-masthead justify-content-center">
        <ng-template [ngIf]="!isAuthenticated()">
          <a class="nav-link" href="#">Login</a>
        </ng-template>
        <a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="isAuthenticated()">Logout({{logined_id}})</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <h1 class="cover-heading">Red Hat Toronto Convergence</h1>
    <h1 class="cover-heading">2018</h1>
    <p class="lead">This page is for OpenShift Container Platform ISTIO Demo. You can login with any name with password
      `redhat` or you can just join the chat without login</p>
  </main>
  <hr/>
  <hr/>

  <div class="login-container">
    <span *ngIf="errorShow"
          class="help-block">{{errorMsg}}</span>
    <div class="row">
      <div class="col-6 border-right">

        <form [formGroup]="userForm" (ngSubmit)="onLoginSubmit()" class="form">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="inputID" class="input-group-text">ID</label>
            </div>
            <input type="id" id="inputID" class="form-control" formControlName="id" placeholder="User Name"  [attr.disabled]="isAuthenticated() ? '' : null"  required
                   autofocus>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="inputPassword" class="input-group-text">PW</label>
            </div>
            <input type="password" id="inputPassword" class="form-control" formControlName="pw" placeholder="Password"  [attr.disabled]="isAuthenticated() ? '' : null"
                   required>
          </div>
          <ng-template [ngIf]="!isAuthenticated()">
            <button class="btn btn-secondary  mt-2" type="submit" >Sign in</button>
          </ng-template>
          <ng-template [ngIf]="isAuthenticated()">
            <button class="btn btn-danger  mt-2" type="button" (click)="onLogout()">Sign out</button>
            <button class="btn btn-secondary  mt-2" [routerLink]='["/chat",logined_id]'>Chat Room</button>
          </ng-template>
        </form>

      </div>

      <div class="col-6 align-self-end">

        <form [formGroup]="nickNameForm" (ngSubmit)="onNickNameSubmit()" class="form">
          <div class="form-group">
            <!--<label class="sr-only" for="inlineFormInputGroupUsername">Username</label>-->
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Name</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" formControlName="nickName"
                     placeholder="Username">
            </div>
            <button type="submit" class="btn btn-secondary mt-2" [disabled]="isAuthenticated()">Go</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

